<div class="progress">
	<div ng-repeat="question in questions" ng-switch on="questionStatus(question)" ng-hide="question.isExcluded" ng-style="{ width: getWidth(questions) + '%' }" class="progress-question" ui-sref="question({Id:question.Id})" title="{{question.text}}" ng-class="isCurrentSelector(question)">
		<div ng-switch-when="skipped" class="progress-bar progress-bar-warning"></div>
		<div ng-switch-when="included-unanswered" class="progress-bar" ng-class="isCurrentUnAnswered(question)"></div>
		<div ng-switch-when="included-answered" class="progress-bar progress-bar-success"></div>
		<div ng-switch-when="excluded" class="progress-bar progress-bar-danger"></div>
	</div>
</div>