<div class="question">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2>{{cur.text}}</h2>
		</div>
		<progressbar questions="questionnaire.questions" cur="cur"></progressbar>
		<div class="panel-body">
			<div ng-switch on="cur.type.toLowerCase()">
				<div ng-switch-when="choices" choices></div>
				<div ng-switch-when="date" date></div>
				<div ng-switch-when="daterange" daterange></div>
				<div ng-switch-when="range" floatrange></div>
				<div ng-switch-when="text" text></div>
				<div ng-switch-when="time" time></div>
				<div ng-switch-when="timerange" timerange></div>
				<div ng-switch-default notype></div>
			</div>
		</div>
	</div>
	<div class="controls">
		<button type="button" class="btn btn-primary btn-lg" ng-click="previousQuestion(previousId)" ng-show="hasPrevious()">Previous</button>
		<button type="button" class="btn btn-primary btn-lg" ng-disabled="!isValid()" ui-sref="question({Id:nextId})" ng-show="hasNext()">Next</button>
		<button type="button" class="btn btn-primary btn-lg" ng-click="skip(nextId)" ng-disabled="isRequired()" ng-show="hasNext()">Skip</button>
		<button type="button" class="btn btn-primary btn-lg" ng-click="submitAnswers()" ng-disabled="!isValid()" ng-show="canSubmit()">Submit Questionnaire</button>
	</div>
</div>